@media (min-width: 768px) and (max-width: 839px) {
  .menubar{
    height: 42px;
  }

  .logo {
    height: 16px;
    width: 58px;
  }


  section {
    width: 100vw;
    height: 1024px;
    flex-flow: column;
    position: relative;
  }

  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 19px;
  }

  .paragraph {
    width: 342px;
    margin-top: 134px;
  }

  .mainSection.right .paragraph{
    position: absolute;
    right: 114px;
  }

  .line {
    width: 22px;
    height: 4px;
    margin-top: 48px;
  }

  #mockup1 {
    margin: 100px 0 0 0;
    width: 540px;
    height: 542px;
  }

  #mockup5 {
    margin: 110px 0 157px;
    height: 403px;
    width: 760px;
  }

  .second_screen {
    width: 486px;
    height: 934px;
    margin-top: 456px;
  }

  .mockup2 {
    width: 140px;
    height: 316px;
  }

  .mockup3 {
    width: 140px;
    height: 395px;
  }

  .mockup4 {
    height: 475px;
    width: 140px;
  }
  

  .mainSection.center footer p {
    margin-top: 440px;
  }

  .mainSection.center nav {
    margin-top: 44px;
  }

  .large {
    width: 214px;
    height: 36px;
    line-height: 40px;
    font-size: 12px;
  }

  .small {
    width: 200px;
    height: 35px;
    line-height: 40px;
    font-size: 13px;
  }


  .left, .right {
    padding: 0 150px;
  }
}
